/* General styling */

:root {
  --ghost-white: #f7f7ff;
  --columbia-blue: #bdd5ea;
}

*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;

  width: 100vw;
  min-height: 100vh;
}

video {
  width: 100%;
  height: 100%;
}

/* Overlay */

.overlay {
  transform: translateY(100%);

  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: var(--columbia-blue);

  transition: transform 300ms ease-in-out;
}

.overlay.hidden {
  transform: translateY(0);
}

/* Accessability */
.visibly-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
